# Server CAME target
CAME_HOST=192.168.x.x
CAME_PORT=80

# Proxy (must be 80 for compatibility with CAME app)
PROXY_PORT=80

# Dashboard
DASHBOARD_PORT=8081

# Storage
DATA_DIR=./data
DB_NAME=came_proxy.db

# Logging
LOG_LEVEL=DEBUG
